# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build
build*
.vs
.vscode

# temporary files
*.swp
tests/non_regression/test_assets_cpp
tests/non_regression/test_assets_py
tests/non_regression/**/validation/**/*.*
tests/non_regression/**/*.html
tests/unit_tests/data/**/test/*.*
tests/unit_tests/data/**/*.html
external/spack/.spack-env/*
